@import './abstracts/reset';
@import './styles/abstracts/_variables.scss';
@import './styles/abstracts/_mixins.scss';
@import './styles/abstracts/_btn.scss';
@import './styles/abstracts/_header.scss';
@import './styles/abstracts/_visitors.scss';
@import './styles/components/_splide.scss';
@import './styles/components/_questions.scss';
@import './styles/components/_directions.scss';
@import './styles/components/_choose.scss';
@import './styles/components/_our.scss';
@import './styles/components/_feedback.scss';
@import './styles/components/_contacts.scss';
@import './styles/components/_footer.scss';
@import './styles/components/_mobile-menu.scss';






/* .wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
 };
 *{
  box-sizing: border-box;
 } */